Final deliverables/source code json.json
[{"id":"5b0784b57034f8b5","type":"tab","label":"Register","disabled":false,"info":"","env":[]},{"id":"be1384fe0a55a741","type":"tab","label":"Log in page","disabled":false,"info":"","env":[]},{"id":"06fda069895ac1cd","type":"tab","label":"Seat Selection","disabled":false,"info":"","env":[]},{"id":"0560c6e1aee694cd","type":"tab","label":"Connecting to cloudant db","disabled":false,"info":"","env":[]},{"id":"b756f8b8c2152197","type":"tab","label":"Ticket Verification","disabled":false,"info":"","env":[]},{"id":"17ca3c472225de5f","type":"tab","label":"Current location of train","disabled":false,"info":"","env":[]},{"id":"81797b4edf755c43","type":"tab","label":"Feature 1","disabled":false,"info":"","env":[]},{"id":"aed5dac2f6530d40","type":"tab","label":"Feature 2","disabled":false,"info":"","env":[]},{"id":"e1db7d4ac8ef0596","type":"tab","label":"Feature 3","disabled":false,"info":"","env":[]},{"id":"187d1bdff4e76b53","type":"cloudant","host":"https://apikey-v2-ec05g73ulbq5d864ome30mpx1mj9uk9gfxc0mmbg219:4df6813b619b78b5a9ffe6054941ef4d@4516df27-d99d-490e-972d-883ebcb6aae8-bluemix.cloudantnosqldb.appdomain.cloud","name":"ibm"},{"id":"2d8c8b328747d8bb","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"0e0ae86f3ab12563","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"b57e70a1ae10026e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"550279fb19c11df7","type":"ui_group","name":"Default","tab":"0e0ae86f3ab12563","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ccf6c01952c14417","type":"cloudant","host":"https://apikey-v2-cxbnlq3xzjofe7lgy1olwxuf292iq82c4du5he1pkmd:8df1b75623ae3ae5a658b2bd1eadf42d@f9861ba4-0bf0-4df5-ab35-8f6bf3ed18d3-bluemix.cloudantnosqldb.appdomain.cloud","name":"testibm"},{"id":"8b64b5f5b47388f9","type":"ui_group","name":"test","tab":"d88fb269aeec11fc","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d88fb269aeec11fc","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"71f0790e47b5effc","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2609ae5f4f217abd","type":"rc-credentials","clientid":"Yc8iNJYVQzCtTfIG2l0jow","clientsecret":"8QgsyRtMR020yVsvqqVohAUNP5ackQTLCTFpVYGZIAbA","username":"+19294682231","password":"sara#123","extension":"101","name":""},{"id":"9afefb5c4e2d4f5c","type":"ibmiot","name":"ibm","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"c7986f58ce74a9e5","type":"http in","z":"5b0784b57034f8b5","name":"register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["8ef382baa4840767"]]},{"id":"2e945da495c93774","type":"template","z":"5b0784b57034f8b5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n    <style>{{{payload.css}}}</style>\n    <title>Registration Form</title>\n  </head>\n  <body>\n    <div class=\"container\">\n      <form id=\"form\" class=\"form\" method=\"post\" action=\"/savetodb\" name=\"form\">\n        <h2>Register With Us</h2>\n        <div class=\"form-control\">\n          <label for=\"username\">Username</label>\n          <input type=\"text\" id=\"username\" placeholder=\"Enter username\"name=\"name\" />\n          <small>Error Message</small>\n        </div>\n        <div class=\"form-control\">\n          <label for=\"email\">Email</label>\n          <input type=\"text\" id=\"email\" placeholder=\"Enter email\" name=\"email\" />\n          <small>Error Message</small>\n        </div>\n        <div class=\"form-control\">\n          <label for=\"password\">Password</label>\n          <input type=\"password\" id=\"password\" placeholder=\"Enter password\" name=\"password\" />\n          <small>Error Message</small>\n        </div>\n        <div class=\"form-control\">\n          <label for=\"password2\">Confirm Password</label>\n          <input type=\"password\" id=\"password2\" placeholder=\"Enter password again\" />\n          <small>Error Message</small>\n        </div>\n        <button>Submit</button>\n      </form>\n    </div>\n    <script >{{{payload.script}}}</script>\n  </body>\n</html>\n","output":"str","x":560,"y":120,"wires":[["6957d18ac5f8d2bb"]]},{"id":"6957d18ac5f8d2bb","type":"http response","z":"5b0784b57034f8b5","name":"","statusCode":"","headers":{},"x":710,"y":120,"wires":[]},{"id":"5034428c8cd66f0b","type":"cloudant out","z":"5b0784b57034f8b5","name":"","cloudant":"187d1bdff4e76b53","database":"ibm_test","service":"_ext_","payonly":true,"operation":"insert","x":360,"y":240,"wires":[]},{"id":"b460e6d4dbeb9d84","type":"http in","z":"5b0784b57034f8b5","name":"/savedb","url":"/savetodb","method":"post","upload":false,"swaggerDoc":"","x":130,"y":280,"wires":[["5034428c8cd66f0b","57e54c5f288f9a6d","1c78e73f7ce78484"]]},{"id":"57e54c5f288f9a6d","type":"template","z":"5b0784b57034f8b5","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"hi\n","output":"str","x":340,"y":320,"wires":[["e5531b60527c7066"]]},{ return false;\n}\n\n// check passwords match\n\nfunction checkPasswordsMatch(input1, input2) {\n  if (input1.value !== input2.value) {\n    showError(input2, 'Passwords do not match');\n    return false;\n  }\n  return true;\n}\n\n// Get fieldname\nfunction getFieldName(input) {\n  return input.id.charAt(0).toUpperCase() + input.id.slice(1);\n}\n\n// Event listeners\nform.addEventListener('submit', function (e) {\n  e.preventDefault();\n\n  let check1=checkRequired([username, email, password, password2]);\n  let check2=checkLength(username, 3, 15);\n  let check3=checkLength(password, 6, 25);\n  let check4=checkEmail(email);\n  let check5= checkPasswordsMatch(password, password2);\n  console.log(check1+\" \"+ check2+\" \"+check3+\" \"+check4+\" \"+check5);\n  if(check1&&check2&&check3&&check4&&check5)\n    document.form.submit();\n});\n","output":"str","x":240,"y":120,"wires":[["f7a98b4df49543ec"]]},{"id":"f7a98b4df49543ec","type":"template","z":"5b0784b57034f8b5","name":"","field":"payload.css","fieldType":"msg","format":"javascript","syntax":"mustache","template":"@import url('https://fonts.googleapis.com/css?family=Open+Sans&dispay=swap');\n\n:root {\n  --success-color: #23cc71;\n  --error-color: #e74c3c;\n}\n\n* {\n  box-sizing: border-box;\n}\n\nbody {\n  background-color: #f9fafb;\n  font-family: 'Open Sans', sans-serif;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  min-height: 100vh;\n  margin: 0;\n}\n\n.container {\n  background-color: #fff;\n  border-radius: 5px;\n  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);\n  width: 400px;\n}\n\nh2 {\n  text-align: center;\n  margin: 0 0 20px;\n}\n\n.form {\n  padding: 30px 40px;\n}\n\n.form-control {\n  margin-bottom: 10px;\n  padding-bottom: 20px;\n  position: relative;\n}\n\n.form-control label {\n  color: #777;\n  display: block;\n  margin-bottom: 5px;\n}\n\n.form-control input {\n  border: 2px solid #f0f0f0;\n  border-radius: 4px;\n  display: block;\n  width: 100%;\n  padding: 10px;\n  font-size: 14px;\n}\n\n.form-control input:focus {\n  outline: 0;\n  border-color: #777;\n}\n\n.form-control.success input {\n  border-color: var(--success-color);\n}\n\n.form-control.error input {\n  border-color: var(--error-color);\n}\n\n.form-control small {\n  color: var(--error-color);\n  position: absolute;\n  bottom: 0;\n  left: 0;\n  visibility: hidden;\n}\n\n.form-control.error small {\n  visibility: visible;\n}\n\n.form button {\n  cursor: pointer;\n  background-color: #3498db;\n  border: 2px solid #3498db;\n  border-radius: 4px;\n  color: #fff;\n  display: block;\n  font-size: 16px;\n  padding: 10px;\n  margin-top: 20px;\n  width: 100%;\n}\n","output":"str","x":400,"y":120,"wires":[["2e945da495c93774"]]},{"id":"e5531b60527c7066","type":"http request","z":"5b0784b57034f8b5","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://node-red-iqqij-2022-11-03.au-syd.mybluemix.net/login","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":490,"y":320,"wires":[["15f72a2d88b77d68"]]},{"id":"5ab0d8056629e56d","type":"template","z":"be1384fe0a55a741","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {font-family: Arial, Helvetica, sans-serif;}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 12px 20px;\n  margin: 8px 0;\n  display: inline-block;\n  border: 1px solid #ccc;\n  box-sizing: border-box;\n}\n\n/* Set a style for all buttons */\nbutton {\n  background-color: #04AA6D;\n  color: white;\n  padding: 14px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n}\n\nbutton:hover {\n  opacity: 0.8;\n}\n\n/* Extra styles for the cancel button */\n.cancelbtn {\n  width: auto;\n  padding: 10px 18px;\n  background-color: #f44336;\n}\n\n/* Center the image and position the close button */\n.imgcontainer {\n  text-align: center;\n  margin: 24px 0 12px 0;\n  position: relative;\n}\n\nimg.avatar {\n  width: 40%;\n  border-radius: 50%;\n}\n\n.container {\n  padding: 16px;\n}\n\nspan.psw {\n  float: right;\n  padding-top: 16px;\n}\n\n/* The Modal (background) */\n.modal {\n  display: none; /* Hidden by default */\n  position: fixed; /* Stay in place */\n  z-index: 1; /* Sit on top */\n  left: 0;\n  top: 0;\n  width: 100%; /* Full width */\n  height: 100%; /* Full height */\n  overflow: auto; /* Enable scroll if needed */\n  background-color: rgb(0,0,0); /* Fallback color */\n  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */\n  padding-top: 60px;\n}\n\n/* Modal Content/Box */\n.modal-content {\n  background-color: #fefefe;\n  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */\n  border: 1px solid #888;\n  width: 80%; /* Could be more or less, depending on screen size */\n}\n\n/* The Close Button (x) */\n.close {\n  position: absolute;\n  right: 25px;\n  top: 0;\n  color: #000;\n  font-size: 35px;\n  font-weight: bold;\n}\n\n.close:hover,\n.close:focus {\n  color: red;\n  cursor: pointer;\n}\n\n/* Add Zoom Animation */\n.animate {\n  -webkit-animation: animatezoom 0.6s;\n  animation: animatezoom 0.6s\n}\n\n@-webkit-keyframes animatezoom {\n  from {-webkit-transform: scale(0)} \n  to {-webkit-transform: scale(1)}\n}\n  \n@keyframes animatezoom {\n  from {transform: scale(0)} \n  to {transform: scale(1)}\n}\n\n/* Change styles for span and cancel button on extra small screens */\n@media screen and (max-width: 300px) {\n  span.psw {\n     display: block;\n     float: none;\n  }\n  .cancelbtn {\n     width: 100%;\n  }\n}\n</style>\n</head>\n<body>\n\n<h2>Modal Login Form</h2>\n\n<button onclick=\"document.getElementById('id01').style.display='block'\" style=\"width:auto;\">Login</button>\n\n<div id=\"id01\" class=\"modal\">\n  \n  <form class=\"modal-content animate\" action=\"/checkdata\" method=\"post\">\n    <div class=\"imgcontainer\">\n      <span onclick=\"document.getElementById('id01').style.display='none'\" class=\"close\" title=\"Close Modal\">&times;</span>\n      <img src=\"https://www.w3schools.com/howto/img_avatar2.png\" alt=\"Avatar\" class=\"avatar\">\n    </div>\n\n    <div class=\"container\">\n      <label for=\"uname\"><b>Username</b></label>\n      <input type=\"text\" placeholder=\"Enter Username\" name=\"uname\" required>\n\n      <label for=\"psw\"><b>Password</b></label>\n      <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" required>\n        \n      <button type=\"submit\">Login</button>\n      <label>\n        <input type=\"checkbox\" checked=\"checked\" name=\"remember\"> Remember me\n      </label>\n    </div>\n\n    <div class=\"container\" style=\"background-color:#f1f1f1\">\n      <button type=\"button\" onclick=\"document.getElementById('id01').style.display='none'\" class=\"cancelbtn\">Cancel</button>\n      <span class=\"psw\">Forgot <a href=\"#\">password?</a></span>\n    </div>\n  </form>\n  \n</div>\n      <button type=\"button\" onclick=\"\" class=\"cancelbtn\"><a href=\"https://node-red-iqqij-2022-11-03.au-syd.mybluemix.net/checkqr\">checkqr</a></button>\n\n<script>\n// Get the modal\nvar modal = document.getElementById('id01');\n\n// When the user clicks anywhere outside of the modal, close it\nwindow.onclick = function(event) {\n    if (event.target == modal) {\n        modal.style.display = \"none\";\n    }\n}\n</script>\n\n</body>\n</html>\n","output":"str","x":280,"y":220,"wires":[["69421071108274d8"]]},{"id":"69421071108274d8","type":"http response","z":"be1384fe0a55a741","name":"","statusCode":"","headers":{},"x":430,"y":220,"wires":[]},{"id":"ca7a4ed0319814fa","type":"http in","z":"be1384fe0a55a741","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":120,"y":220,"wires":[["5ab0d8056629e56d"]]},{"id":"c936ec118d895c74","type":"http in","z":"be1384fe0a55a741","d":true,"name":"register","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":130,"y":340,"wires":[["94ef07ee97143bcc"]]},{"id":"94ef07ee97143bcc","type":"template","z":"be1384fe0a55a741","d":true,"name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style>\nbody {\n  font-family: Arial, Helvetica, sans-serif;\n  background-color: black;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n/* Add padding to containers */\n.container {\n  padding: 16px;\n  background-color: white;\n}\n\n/* Full-width input fields */\ninput[type=text], input[type=password] {\n  width: 100%;\n  padding: 15px;\n  margin: 5px 0 22px 0;\n  display: inline-block;\n  border: none;\n  background: #f1f1f1;\n}\n\ninput[type=text]:focus, input[type=password]:focus {\n  background-color: #ddd;\n  outline: none;\n}\n\n/* Overwrite default styles of hr */\nhr {\n  border: 1px solid #f1f1f1;\n  margin-bottom: 25px;\n}\n\n/* Set a style for the submit button */\n.registerbtn {\n  background-color: #04AA6D;\n  color: white;\n  padding: 16px 20px;\n  margin: 8px 0;\n  border: none;\n  cursor: pointer;\n  width: 100%;\n  opacity: 0.9;\n}\n\n.registerbtn:hover {\n  opacity: 1;\n}\n\n/* Add a blue text color to links */\na {\n  color: dodgerblue;\n}\n\n/* Set a grey background color and center the text of the \"sign in\" section */\n.signin {\n  background-color: #f1f1f1;\n  text-align: center;\n}\n</style>\n</head>\n<body>\n\n<form action=\"/savedb\" method=\"post\">\n  <div class=\"container\">\n    <h1>Register</h1>\n    <p>Please fill in this form to create an account.</p>\n    <hr>\n\n    <label for=\"email\"><b>Email</b></label>\n    <input type=\"text\" placeholder=\"Enter Email\" name=\"email\" id=\"email\" required>\n\n    <label for=\"psw\"><b>Password</b></label>\n    <input type=\"password\" placeholder=\"Enter Password\" name=\"psw\" id=\"psw\" required>\n\n    <label for=\"psw-repeat\"><b>Repeat Password</b></label>\n    <input type=\"password\" placeholder=\"Repeat Password\" name=\"psw-repeat\" id=\"psw-repeat\" required>\n    <hr>\n    <p>By creating an account you agree to our <a href=\"#\">Terms & Privacy</a>.</p>\n\n    <button type=\"submit\" class=\"registerbtn\">Register</button>\n  </div>\n  "tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":410,"y":440,"wires":[]},{"id":"2730738b3af84750","type":"template","z":"06fda069895ac1cd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n  <head>\n    <meta charset=\"UTF-8\" />\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\" />\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n<script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js\"></script>\n    <style>{{payload.css}}</style>\n    <title>Movie Seat Booking</title>\n  </head>\n  <body class=\"background\">\n    <div class=\"movie-container\">\n      <label>Pick a Train:</label>\n      <select id=\"movie\">\n        <option value=\"100\"> Third Class (Rs.100)</option>\n        <option value=\"1200\">First class (Rs.1200)</option>\n        <option value=\"1500\"> Sleepeer (Rs.1500)</option>\n        <option value=\"900\">Middle Class (Rs.900)</option>\n      </select>\n    </div>\n\n    <ul class=\"showcase\">\n      <li>\n        <div class=\"seat\"></div>\n        <small>N/A</small>\n      </li>\n\n      <li>\n        <div class=\"seat selected\"></div>\n        <small>Selected</small>\n      </li>\n\n      <li>\n        <div class=\"seat occupied\"></div>\n        <small>Occupied</small>\n      </li>\n    </ul>\n    <form id=\"form\">\n    <div class=\"container\">\n      <div class=\"row\">\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"line\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        \n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n      </div>\n\n      <div class=\"row\">\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"line\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        \n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n      </div>\n      <div class=\"row\">\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"line\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        \n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat occupied\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n        <div class=\"seat\"></div>\n      </div>\n      \n    </div>\n    <button type=\"submit\" id=\"submit_btn\" >Confirm</button>\n  </form>\n    \n\n    <p class=\"text\">\n      You have selected <span id=\"count\">0</span> seats for a price of Rs. <span id=\"total\">0</span>\n    </p>\n\n    \n  </body>\n    <script type=\"text/javascript\">{{{payload.script}}}</script>\n</html>\n","output":"str","x":540,"y":120,"wires":[["f8b95d57c8f28d86"]]},{"id":"f8b95d57c8f28d86","type":"http response","z":"06fda069895ac1cd","name":"","statusCode":"","headers":{},"x":670,"y":120,"wires":[]},{"id":"6449f20817d5f357","type":"template","z":"06fda069895ac1cd","name":"","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"const container = document.querySelector('.container');\nconst seats = document.querySelectorAll('.row .seat:not(.occupied');\nconst count = document.getElementById('count');\nconst total = document.getElementById('total');\nconst movieSelect = document.getElementById('movie');\nfunction GetURLParameter(sParam)\n{\n    var sPageURL = window.location.search.substring(1);\n    var sURLVariables = sPageURL.split('&');\n    for (var i = 0; i < sURLVariables.length; i++) \n    {\n        var sParameterName = sURLVariables[i].split('=');\n        if (sParameterName[0] == sParam) \n        {\n            return sParameterName[1];\n        }\n    }\n}\npopulateUI();\nlet ticketPrice = +movieSelect.value;\n\n// Save selected movie index and price\nfunction setMovieData(movieIndex, moviePrice) {\n  localStorage.setItem('selectedMovieIndex', movieIndex);\n  localStorage.setItem('selectedMoviePrice', moviePrice);\n}\n\n// update total and count\nfunction updateSelectedCount() {\n  const selectedSeats = document.querySelectorAll('.row .seat.selected');\n\n  const seatsIndex = [...selectedSeats].map((seat) => [...seats].indexOf(seat));\n\n  localStorage.setItem('selectedSeats', JSON.stringify(seatsIndex));\n\n  //copy selected seats into arr\n  // map through array\n  //return new array of indexes\n\n  const selectedSeatsCount = selectedSeats.length;\n\n  count.innerText = selectedSeatsCount;\n  total.innerText = selectedSeatsCount * ticketPrice;\n}\n\n// get data from localstorage and populate ui\nfunction populateUI() {\n  const selectedSeats = JSON.parse(localStorage.getItem('selectedSeats'));\n  if (selectedSeats !== null && selectedSeats.length > 0) {\n    seats.forEach((seat, index) => {\n      if (selectedSeats.indexOf(index) > -1) {\n        seat.classList.add('selected');\n      }\n    });\n  }\n\n  const selectedMovieIndex = localStorage.getItem('selectedMovieIndex');\n\n  if (selectedMovieIndex !== null) {\n    movieSelect.selectedIndex = selectedMovieIndex;\n  }\n}\n\n// Movie select event\nmovieSelect.addEventListener('change', (e) => {\n  ticketPrice = +e.target.value;\n  setMovieData(e.target.selectedIndex, e.target.value);\n  updateSelectedCount();\n});\n\n// Seat click event\ncontainer.addEventListener('click', (e) => {\n  if (e.target.classList.contains('seat') && !e.target.classList.contains('occupied')) {\n    e.target.classList.toggle('selected');\n\n    updateSelectedCount();\n  }\n});\n\n// intial count and total\nupdateSelectedCount();\n// document.getElementById(\"submit_btn\").addEventListener(\"click\", (e)=>{console.log(\"hi\")})\n$(\"#submit_btn\").click((e)=>{\n    e.preventDefault();\n    const id=GetURLParameter(\"_id\")\n    if(id!=null&&id!=undefined){\n       $(\"#form\").attr(\"action\",\"/pay?_id\"+id);\n       $(\"#form\").attr(\"method\",\"get\");\n       $(\"#form\").submit();\n    }\n    \n})","output":"str","x":240,"y":120,"wires":[["5904e10e2aeb4224"]]},{"id":"5904e10e2aeb4224","type":"template","z":"06fda069895ac1cd","name":"","field":"payload.css","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');\n\n* {\n  box-sizing: border-box;\n}\n\nbody {\n  background-color: #242333;\n  display: flex;\n  flex-direction: column;\n  color: white;\n  align-items: center;\n  justify-content: center;\n  height: 100vh;\n  font-family: 'Lato', 'sans-serif';\n}\n\n.movie-container {\n  margin: 20px 0;\n}\n\n.movie-container select {\n  background-color: #fff;\n  border: 0;\n  border-radius: 5px;\n  font-size: 14px;\n  margin-left: 10px;\n  padding: 5px 15px 5px 15px;\n  -moz-appearance: none;\n  -webkit-appearance: none;\n  appearance: none;\n}\n\n.container {\n  perspective: 1000px;\n  margin-bottom: 30px;\n  background-color: #777;\n  display: block;\n  border-radius: 50px 30px 30px 50px  ;\n  padding: 5px 20px 5px 50px;\n}\n\n.seat {\n  background-color: #444451;\n  height: 32px;\n  width: 35px;\n  margin: 5px;\n  border-top-left-radius: 10px;\n  border-top-right-radius: 10px;\n}\n\n.seat.selected {\n  background-color: #6feaf6;\n}\n\n.seat.occupied {\n  background-color: #fff;\n}\n\n.seat:nth-of-type(2) {\n  margin-right: 18px;\n}\n.seat:nth-of-type(11) {\n  margin-right: 18px;\n}\n\n.seat:nth-last-of-type(2) {\n  margin-left: 18px;\n}\n\n.seat:not(.occupied):hover {\n  cursor: pointer;\n  transform: scale(1.2);\n}\n\n.showcase .seat:not(.occupied):hover {\n  cursor: default;\n  transform: scale(1);\n}\n\n.showcase {\n  background-color: rgba(0, 0, 0, 0.1);\n  padding: 5px 10px;\n  border-radius: 5px;\n  color: #777;\n  list-style-type: none;\n  display: flex;\n  justify-content: space-between;\n}\n\n.showcase li {\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  margin: 0 10px;\n}\n\n.showcase li small {\n  margin-left: 10px;\n}\n\n.row {\n  display: flex;\n}\n\n.screen {\n  background-color: #fff;\n  height: 70px;\n  width: 100%;\n  margin: 15px 0;\n  transform: rotateX(-45deg);\n  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.75);\n}\n\np.text {\n  margin: 5px 0;\n}\n\np.text span {\n  color: #6feaf6;\n}\n /* .line{\n  height: 41px;\n  padding: 5px;\n  width: 1px;\n  background-color: white;\n  margin-left: 7px;\n  margin-right: 7px;\n } */\n #submit_btn{\n  background-color: #444451; /* Green */\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n }","output":"str","x":380,"y":120,"wires":[["2730738b3af84750"]]},{"id":"ba59e3125dcea89c","type":"http in","z":"06fda069895ac1cd","name":"","url":"/seat","method":"get","upload":false,"swaggerDoc":"","x":100,"y":120,"wires":[["6449f20817d5f357"]]},{"id":"d45f612c353175d1","type":"template","z":"06fda069895ac1cd","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {\n  font-family: Arial;\n  font-size: 17px;\n  padding: 8px;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n.row {\n  display: -ms-flexbox; /* IE10 */\n  display: flex;\n  -ms-flex-wrap: wrap; /* IE10 */\n  flex-wrap: wrap;\n  margin: 0 -16px;\n}\n\n.col-25 {\n  -ms-flex: 25%; /* IE10 */\n  flex: 25%;\n}\n\n.col-50 {\n  -ms-flex: 50%; /* IE10 */\n  flex: 50%;\n}\n\n.col-75 {\n  -ms-flex: 75%; /* IE10 */\n  flex: 75%;\n}\n\n.col-25,\n.col-50,\n.col-75 {\n  padding: 0 16px;\n}\n\n.container {\n  background-color: #f2f2f2;\n  padding: 5px 20px 15px 20px;\n  border: 1px solid lightgrey;\n  border-radius: 3px;\n}\n\ninput[type=text] {\n  width: 100%;\n  margin-bottom: 20px;\n  padding: 12px;\n  border: 1px solid #ccc;\n  border-radius: 3px;\n}\n\nlabel {\n  margin-bottom: 10px;\n  display: block;\n}\n\n.icon-container {\n  margin-bottom: 20px;\n  padding: 7px 0;\n  font-size: 24px;\n}\n\n.btn {\n  background-color: #04AA6D;\n  color: white;\n  padding: 12px;\n  margin: 10px 0;\n  border: none;\n  width: 100%;\n  border-radius: 3px;\n  cursor: pointer;\n  font-size: 17px;\n}\n\n.btn:hover {\n  background-color: #45a049;\n}\n\na {\n  color: #2196F3;\n}\n\nhr {\n  border: 1px solid lightgrey;\n}\n\nspan.price {\n  float: right;\n  color: grey;\n}\n\n/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the \"cart\" column go on top) */\n@media (max-width: 800px) {\n  .row {\n    flex-direction: column-reverse;\n  }\n  .col-25 {\n    margin-bottom: 20px;\n  }\n}\n</style>\n</head>\n<body>\n\n<h2>Responsive Checkout Form</h2>\n<p>Resize the browser window to see the effect. When the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other.</p>\n<div class=\"row\">\n  <div class=\"col-75\">\n    <div class=\"container\">\n      <form action=\"/creqr\">\n      \n        <div class=\"row\">\n          <div class=\"col-50\">\n            <h3>Billing Address</h3>\n            <label for=\"fname\"><i class=\"fa fa-user\"></i> Full Name</label>\n            <input type=\"text\" id=\"fname\" name=\"firstname\" placeholder=\"John M. Doe\">\n            <label for=\"email\"><i class=\"fa fa-envelope\"></i> Email</label>\n            <input type=\"text\" id=\"email\" name=\"email\" placeholder=\"john@example.com\">\n            <label for=\"adr\"><i class=\"fa fa-address-card-o\"></i> Address</label>\n            <input type=\"text\" id=\"adr\" name=\"address\" placeholder=\"542 W. 15th Street\">\n            <label for=\"city\"><i class=\"fa fa-institution\"></i> City</label>\n            <input type=\"text\" id=\"city\" name=\"city\" placeholder=\"New York\">\n\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"state\">State</label>\n                <input type=\"text\" id=\"state\" name=\"state\" placeholder=\"NY\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"zip\">Zip</label>\n                <input type=\"text\" id=\"zip\" name=\"zip\" placeholder=\"10001\">\n              </div>\n            </div>\n          </div>\n\n          <div class=\"col-50\">\n            <h3>Payment</h3>\n            <label for=\"fname\">Accepted Cards</label>\n            <div class=\"icon-container\">\n              <i class=\"fa fa-cc-visa\" style=\"color:navy;\"></i>\n              <i class=\"fa fa-cc-amex\" style=\"color:blue;\"></i>\n              <i class=\"fa fa-cc-mastercard\" style=\"color:red;\"></i>\n              <i class=\"fa fa-cc-discover\" style=\"color:orange;\"></i>\n            </div>\n            <label for=\"cname\">Name on Card</label>\n            <input type=\"text\" id=\"cname\" name=\"cardname\" placeholder=\"John More Doe\">\n            <label for=\"ccnum\">Credit card number</label>\n            <input type=\"text\" id=\"ccnum\" name=\"cardnumber\" placeholder=\"1111-2222-3333-4444\">\n            <label for=\"expmonth\">Exp Month</label>\n            <input type=\"text\" id=\"expmonth\" name=\"expmonth\" placeholder=\"September\">\n            <div class=\"row\">\n              <div class=\"col-50\">\n                <label for=\"expyear\">Exp Year</label>\n                <input type=\"text\" id=\"expyear\" name=\"expyear\" placeholder=\"2018\">\n              </div>\n              <div class=\"col-50\">\n                <label for=\"cvv\">CVV</label>\n                <input type=\"text\" id=\"cvv\" name=\"cvv\" placeholder=\"352\">\n              </div>\n            </div>\n          </div>\n          \n        </div>\n        <label>\n          <input type=\"checkbox\" checked=\"checked\" name=\"sameadr\"> Shipping address same as billing\n        </label>\n        <input type=\"submit\" value=\"Continue to checkout\" class=\"btn\">\n      </form>\n    </div>\n  </div>\n  <div class=\"col-25\">\n    <div class=\"container\">\n      {{!--<h4>Cart <span class=\"price\" style=\"color:black\"><i class=\"fa fa-shopping-cart\"></i> <b>4</b></span></h4>--}}\n      {{!--<p><a href=\"#\">Product 1</a> <span class=\"price\">$15</span></p>--}}\n      {{!--<p><a href=\"#\">Product 2</a> <span class=\"price\">$5</span></p>--}}\n      {{!--<p><a href=\"#\">Product 3</a> <span class=\"price\">$8</span></p>--}}\n      {{!--<p><a href=\"#\">Product 4</a> <span class=\"price\">$2</span></p>--}}\n      {{!--<hr>--}}\n      <p>Total <span class=\"price\" style=\"color:black\"><b>$1000</b></span></p>\n    </div>\n  </div>\n</div>\n\n</body>\n</html>\n","output":"str","x":260,"y":280,"wires":[["53439ef6044e0ce4"]]},{"id":"0eaeaa4e8c04018c","type":"http in","z":"06fda069895ac1cd","name":"","url":"/pay","method":"get","upload":false,"swaggerDoc":"","x":100,"y":280,"wires":[["d45f612c353175d1"]]},{"id":"53439ef6044e0ce4","type":"http response","z":"06fda069895ac1cd","name":"","statusCode":"","headers":{},"x":410,"y":280,"wires":[]},{"id":"0aeb7a91d58b28f5","type":"qrcode-generator","z":"b756f8b8c2152197","name":"","qrtype":"text2qr","text2qrText":"","ssid":"","hiddenssid":false,"wifitype":"","phonenum":"","smsphonenum":"","smstext":"","mailto":"","mailsubject":"","mailbody":"","latitude":"","longitude":"","colorlight":"#ffffff","colordark":"#000000","printstatus":false,"x":390,"y":300,"wires":[["ed786bf392514b26"]]},{"id":"1c632e7a702249d8","type":"http in","z":"b756f8b8c2152197","name":"","url":"/creqr","method":"get","upload":false,"swaggerDoc":"","x":80,"y":300,"wires":[["ec60671e7be4fed6","270ef0a24ecd579e"]]},{"id":"396da9a0fda3d66e","type":"http response","z":"b756f8b8c2152197","name":"","statusCode":"","headers":{},"x":670,"y":300,"wires":[]},{"id":"ec60671e7be4fed6","type":"function","z":"b756f8b8c2152197","name":"","func":"msg.qrcodeinput=\"https://node-red-iqqij-2022-11-03.au-syd.mybluemix.net/checkqr?_id=\"+msg.payload.id\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":300,"wires":[["0aeb7a91d58b28f5"]]},{"id":"ed786bf392514b26","type":"template","z":"b756f8b8c2152197","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<img src={{payload}}>","output":"str","x":540,"y":300,"wires":[["396da9a0fda3d66e"]]},{"id":"b60f5c12f38f323b","type":"http in","z":"b756f8b8c2152197","name":"","url":"/checkqr","method":"get","upload":false,"swaggerDoc":"","x":110,"y":420,"wires":[["b40fb4f908782108"]]},{"id":"b40fb4f908782108","type":"cloudant in","z":"b756f8b8c2152197","name":"","cloudant":"187d1bdff4e76b53","database":"ibm_test","service":"node-red-iqqij-2022--cloudant-1667477065487-90118","search":"_id_","design":"","index":"","x":260,"y":420,"wires":[["3a497fa9de5291e9"]]},{"id":"3a497fa9de5291e9","type":"template","z":"b756f8b8c2152197","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n<body>\n\n<h1 style=\"background-color:DodgerBlue;\"> TICKET VERIFICATION</h1>\n\n<p style=\"background-color:Tomato;\">\nYOUR TICKET IS VALID\n</p>\n\n</body>\n</html>\n\n\n","output":"str","x":400,"y":420,"wires":[["b714a2e2ce25d929"]]},{"id":"b714a2e2ce25d929","type":"http response","z":"b756f8b8c2152197","name":"","statusCode":"","headers":{},"x":530,"y":420,"wires":[]},{"id":"270ef0a24ecd579e","type":"debug","z":"b756f8b8c2152197","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":210,"y":240,"wires":[]},{"id":"bb25eec692eaeaee","type":"ibmiot out","z":"17ca3c472225de5f","authentication":"apiKey","apiKey":"9afefb5c4e2d4f5c","outputType":"evt","deviceId":"123456","deviceType":"3.0.2","eventCommandType":"blink","format":"json","data":"json","qos":0,"name":"IBM IoT","service":"registered","x":800,"y":300,"wires":[]},{"id":"0ce51cb7d0a41089","type":"debug","z":"17ca3c472225de5f","name":"debug 14","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":800,"y":400,"wires":[]},{"id":"9d8450dcee3b1ad6","type":"http in","z":"17ca3c472225de5f","name":"","url":"/random","method":"get","upload":false,"swaggerDoc":"","x":190,"y":200,"wires":[["fd0a4d003fc2dc38","a9b34332c9e1f5b3"]]},{"id":"07bdadfe13984e57","type":"http response","z":"17ca3c472225de5f","name":"","statusCode":"","headers":{},"x":790,"y":120,"wires":[]},{"id":"9a5d832f88cd2e89","type":"worldmap","z":"17ca3c472225de5f","name":"","lat":"10.997294","lon":"76.966460","zoom":"","layer":"OSMC","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"deg","showgrid":"false","showruler":"true","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":800,"y":200,"wires":[]},{"id":"a9b34332c9e1f5b3","type":"function","z":"17ca3c472225de5f","name":"generator","func":"msg.payload.Latitude = Math.floor(Math.random() * 90) + -90;\nmsg.payload.Longitude = Math.floor(Math.random() * 180) + -180;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["0ce51cb7d0a41089","07bdadfe13984e57","9a5d832f88cd2e89","bb25eec692eaeaee"]]},{"id":"fd0a4d003fc2dc38","type":"template","z":"17ca3c472225de5f","name":"Location API","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html> \n<html> \n    <head> \n      <title>Geolocation API</title> \n     </head> \n    <body> \n       <h2>Find Your Location in below Map</h2> \n        <button onclick=\"getlocation();\"> Show Position</button> \n        <div id=\"demo\" style=\"width: 600px; height: 400px; margin-left: 200px;\"></div> \n       \n        <script src=\"https://maps.google.com/maps/api/js?sensor=false\"> </script> \n        \n        <script type=\"text/javascript\"> \n        function getlocation(){ \n            if(navigator.geolocation){ \n                navigator.geolocation.getCurrentPosition(showPos, showErr); \n            }\n            else{\n                alert(\"Sorry! your Browser does not support Geolocation API\")\n            }\n        } \n        //Showing Current Poistion on Google Map\n        function showPos(position){ \n            latt = position.coords.latitude; \n            long = position.coords.longitude; \n            var lattlong = new google.maps.LatLng(latt, long); \n            var myOptions = { \n                center: lattlong, \n                zoom: 15, \n                mapTypeControl: true, \n                navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL} \n            } \n            var maps = new google.maps.Map(document.getElementById(\"demo\"), myOptions); \n            var markers = \n            new google.maps.Marker({position:lattlong, map:maps, title:\"You are here!\"}); \n        } \n\n        //Handling Error and Rejection\n             function showErr(error) {\n              switch(error.code){\n              case error.PERMISSION_DENIED:\n             alert(\"User denied the request for Geolocation API.\");\n              break;\n             case error.POSITION_UNAVAILABLE:\n             alert(\"USer location information is unavailable.\");\n            break;\n            case error.TIMEOUT:\n            alert(\"The request to get user location timed out.\");\n            break;\n           case error.UNKNOWN_ERROR:\n            alert(\"An unknown error occurred.\");\n            break;\n           }\n        }        </script> \n    </body> \n</html>     \n\n \n","output":"str","x":490,"y":300,"wires":[["9a5d832f88cd2e89","07bdadfe13984e57"]]},{"id":"819111a589978f90","type":"camera","z":"81797b4edf755c43","name":"","x":110,"y":100,"wires":[["c34cf533c3c47ab3"]]},{"id":"c34cf533c3c47ab3","type":"qrdecode","z":"81797b4edf755c43","name":"","x":180,"y":200,"wires":[["18a01ba076ce9c2e","00e25604ef3b7913"]]},{"id":"18a01ba076ce9c2e","type":"debug","z":"81797b4edf755c43","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":200,"y":320,"wires":[]},{"id":"aba031debe6fc277","type":"cloudant in","z":"81797b4edf755c43","name":"","cloudant":"ccf6c01952c14417","database":"test_ibm","service":"_ext_","search":"_id_","design":"","index":"","x":520,"y":200,"wires":[["132010664298e3da","a2990c649bda8258"]]},{"id":"132010664298e3da","type":"switch","z":"81797b4edf755c43","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"_id","vt":"str"},{"t":"neq","v":"_id","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":340,"wires":[["5ed7f5349e944007","9f83a06c75e6fbaa"],["9599f0ee5017d96b"]]},{"id":"00e25604ef3b7913","type":"template","z":"81797b4edf755c43","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":360,"y":200,"wires":[["aba031debe6fc277"]]},{"id":"5ed7f5349e944007","type":"ui_text","z":"81797b4edf755c43","group":"8b64b5f5b47388f9","order":0,"width":0,"height":0,"name":"","label":"VALID TICKET","format":"VALID TICKET","layout":"row-spread","className":"","x":720,"y":320,"wires":[]},{"id":"9599f0ee5017d96b","type":"ui_text","z":"81797b4edf755c43","group":"8b64b5f5b47388f9","order":0,"width":0,"height":0,"name":"","label":"INVALID TICKET","format":"INVALID TICKET","layout":"row-spread","className":"","x":730,"y":360,"wires":[]},{"id":"a2990c649bda8258","type":"debug","z":"81797b4edf755c43","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":200,"wires":[]},{"id":"7bf9f3633cf4b95f","type":"comment","z":"81797b4edf755c43","name":"Only train booked passengers have access to  the automatic door.","info":"","x":470,"y":80,"wires":[]},{"id":"9f83a06c75e6fbaa","type":"ui_audio","z":"81797b4edf755c43","name":"","group":"8b64b5f5b47388f9","voice":"","always":"","x":700,"y":280,"wires":[]},{"id":"32df1ebb0f3c946b","type":"camera","z":"aed5dac2f6530d40","name":"","x":130,"y":100,"wires":[["56da28cef520982b"]]},{"id":"0847601c814dc503","type":"qrdecode","z":"aed5dac2f6530d40","name":"","x":100,"y":240,"wires":[["561362daf8e2d414"]]},{"id":"522c2f98894ca0b1","type":"debug","z":"aed5dac2f6530d40","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":260,"y":360,"wires":[]},{"id":"cbbe2b786bf566a5","type":"switch","z":"aed5dac2f6530d40","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"_id","vt":"str"},{"t":"neq","v":"_id","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":240,"wires":[["5d36e1c25807fc55","b26573564873ca09"],["669d6f48c5514c41"]]},{"id":"a0df98c2f9459a5a","type":"template","z":"aed5dac2f6530d40","name":"Payment confirming","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n\t<head>\n\t\t<meta http-equiv=\"Content-Type\" content=\"text/html; charset=ISO-8859-1\">\n\t\t<title>Paytm Secure Online Payment Gateway</title>\n\t</head>\n\t<body>\n\t\t<table align='center'>\n\t\t\t<tr>\n\t\t\t\t<td><STRONG>Transaction is being processed,</STRONG></td>\n\t\t\t</tr>\n\t\t\t<tr>\n\t\t\t\t<td><font color='blue'>Please wait ...</font></td>\n\t\t\t</tr>\n\t\t\t<tr>\n\t\t\t\t<td>(Please do not press 'Refresh' or 'Back' button</td>\n\t\t\t</tr>\n\t\t</table>\n\t\t<FORM NAME='TESTFORM' ACTION='YOUR_CALLBACK_URL' METHOD='POST'>\n\t\t\t<input type='hidden' name='CURRENCY' value='PAYMENT_CURRENCY'>\n\t\t\t<input type='hidden' name='GATEWAYNAME' value='GATEWAY_USED_BY_PAYTM'>\n\t\t\t<input type='hidden' name='RESPMSG' value='PAYTM_RESPONSE_MESSAGE_DESCRIPTION'>\n\t\t\t<input type='hidden' name='BANKNAME' value='BANK_NAME_OF_ISSUING_PAYMENT_MODE'>\n\t\t\t<input type='hidden' name='PAYMENTMODE' value='PAYMENT_MODE_USED_BY_CUSTOMER'>\n\t\t\t<input type='hidden' name='MID' value='YOUR_MID_HERE'>\n\t\t\t<input type='hidden' name='RESPCODE' value='PAYTM_RESPONSE_CODE'>\n\t\t\t<input type='hidden' name='TXNID' value='PAYTM_TRANSACTION_ID'>\n\t\t\t<input type='hidden' name='TXNAMOUNT' value='ORDER_TRANSACTION_AMOUNT'>\n\t\t\t<input type='hidden' name='ORDERID' value='YOUR_ORDER_ID'>\n\t\t\t<input type='hidden' name='STATUS' value='PAYTM_TRANSACTION_STATUS'>\n\t\t\t<input type='hidden' name='BANKTXNID' value='BANK_TRANSACTION_ID'>\n\t\t\t<input type='hidden' name='TXNDATE' value='TRANSACTION_DATE_TIME'>\n\t\t\t<input type='hidden' name='CHECKSUMHASH' value='PAYTM_GENERATED_CHECKSUM_VALUE'>\n\t\t</FORM>\n\t</body>\n\t<script type=\"text/javascript\">  document.forms[0].submit();</script>    \n</html>","output":"str","x":360,"y":240,"wires":[["8e8fce1273ef654e","cbbe2b786bf566a5","3d8f3e9596658682"]]},{"id":"5d36e1c25807fc55","type":"ui_text","z":"aed5dac2f6530d40","group":"8b64b5f5b47388f9","order":0,"width":0,"height":0,"name":"","label":"PAYMENT SUCCESS","format":"PAYMENT SUCCESS","layout":"row-spread","className":"","x":760,"y":260,"wires":[]},{"id":"669d6f48c5514c41","type":"ui_text","z":"aed5dac2f6530d40","group":"8b64b5f5b47388f9","order":0,"width":0,"height":0,"name":"","label":"PAYMENT FAILED","format":"PAYMENT FAILED","layout":"row-spread","className":"","x":750,"y":300,"wires":[]},{"id":"f7487ba240451b6d","type":"comment","z":"aed5dac2f6530d40","name":"Automatic Fare Collection using Smart  Ticketing","info":"","x":460,"y":80,"wires":[]},{"id":"b26573564873ca09","type":"ui_audio","z":"aed5dac2f6530d40","name":"","group":"8b64b5f5b47388f9","voice":"","always":"","x":760,"y":180,"wires":[]},{"id":"8e8fce1273ef654e","type":"cloudant out","z":"aed5dac2f6530d40","name":"","cloudant":"ccf6c01952c14417","database":"test_ibm","service":"_ext_","payonly":false,"operation":"insert","x":580,"y":160,"wires":[]},{"id":"56da28cef520982b","type":"ui_button","z":"aed5dac2f6530d40","name":"","group":"8b64b5f5b47388f9","order":6,"width":0,"height":0,"passthru":true,"label":"PAY","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":160,"wires":[["0847601c814dc503"]]},{"id":"3d8f3e9596658682","type":"debug","z":"aed5dac2f6530d40","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":560,"y":340,"wires":[]},{"id":"561362daf8e2d414","type":"template","z":"aed5dac2f6530d40","name":"Payment site","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<?php\n/*\n* import checksum generation utility\n* You can get this utility from https://developer.paytm.com/docs/checksum/\n*/\nrequire_once(\"PaytmChecksum.php\");\n\n$paytmParams = array();\n\n$paytmParams[\"body\"] = array(\n    \"mid\"             => \"YOUR_MID_HERE\",\n    \"merchantOrderId\" => 'BEKJBJK123',\n    \"amount\"          => \"1303.00\",\n    'posId'           =>\"S1234_P1235\",\n    'userPhoneNo'     =>\"7777777777\"\n);\n\n/*\n* Generate checksum by parameters we have in body\n* Find your Merchant Key in your Paytm Dashboard at https://dashboard.paytm.com/next/apikeys \n*/\n$checksum = PaytmChecksum::generateSignature(json_encode($paytmParams[\"body\"], JSON_UNESCAPED_SLASHES), \"YOUR_MERCHANT_KEY\");\n\n$paytmParams[\"head\"] = array(\n    \"clientId\"\t     => 'C11',\n    \"version\"\t     => 'v1',\n    \"signature\"\t     => $checksum,\n);\n\n$post_data = json_encode($paytmParams, JSON_UNESCAPED_SLASHES);\n\n/* for Staging */\n$url = \"https://securegw-stage.paytm.in/order/sendpaymentrequest\";\n\n/* for Production */\n// $url = \"https://securegw.paytm.in/order/sendpaymentrequest\";\n\n$ch = curl_init($url);\ncurl_setopt($ch, CURLOPT_POST, 1);\ncurl_setopt($ch, CURLOPT_POSTFIELDS, $post_data);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true); \ncurl_setopt($ch, CURLOPT_HTTPHEADER, array(\"Content-Type: application/json\")); \n$response = curl_exec($ch);\nprint_r($response);        \n\n","output":"str","x":150,"y":300,"wires":[["a0df98c2f9459a5a","522c2f98894ca0b1"]]},{"id":"82c35a8e5f400307","type":"comment","z":"e1db7d4ac8ef0596","name":"Aware as you approach your destination","info":"","x":410,"y":80,"wires":[]},{"id":"c8018d0e6e0b3ece","type":"worldmap","z":"e1db7d4ac8ef0596","name":"","lat":"","lon":"","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","coords":"false","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":700,"y":240,"wires":[]},{"id":"983bd028e6257ff2","type":"ui_toast","z":"e1db7d4ac8ef0596","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":720,"y":380,"wires":[]},{"id":"863beb25be12bdeb","type":"ui_audio","z":"e1db7d4ac8ef0596","name":"","group":"8b64b5f5b47388f9","voice":"","always":"","x":700,"y":440,"wires":[]},{"id":"e1c3b191e5cfd0a8","type":"http in","z":"e1db7d4ac8ef0596","name":"","url":"/gps","method":"get","upload":false,"swaggerDoc":"","x":140,"y":240,"wires":[["920da509483ba98d"]]},{"id":"d9cb091e12ab51a2","type":"http response","z":"e1db7d4ac8ef0596","name":"","statusCode":"","headers":{},"x":630,"y":160,"wires":[]},{"id":"bfa10b515fcd92ba","type":"function","z":"e1db7d4ac8ef0596","name":"function 2","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":240,"wires":[["c8018d0e6e0b3ece","f04c1e5e138fb8c4","d019b8032a940e16","d9cb091e12ab51a2"]]},{"id":"f04c1e5e138fb8c4","type":"switch","z":"e1db7d4ac8ef0596","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":360,"wires":[[],["983bd028e6257ff2","863beb25be12bdeb","51f775011cb90d07"]]},{"id":"d019b8032a940e16","type":"debug","z":"e1db7d4ac8ef0596","name":"debug 11","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":300,"wires":[]},{"id":"920da509483ba98d","type":"template","z":"e1db7d4ac8ef0596","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html> \n<html> \n    <head> \n      <title>Geolocation API</title> \n     </head> \n    <body> \n       <h2>Find Your Location in below Map</h2> \n        <button onclick=\"getlocation();\"> Show Position</button> \n        <div id=\"demo\" style=\"width: 600px; height: 400px; margin-left: 200px;\"></div> \n       \n        <script src=\"https://maps.google.com/maps/api/js?sensor=false\"> </script> \n        \n        <script type=\"text/javascript\"> \n        function getlocation(){ \n            if(navigator.geolocation){ \n                navigator.geolocation.getCurrentPosition(showPos, showErr); \n            }\n            else{\n                alert(\"Sorry! your Browser does not support Geolocation API\")\n            }\n        } \n        //Showing Current Poistion on Google Map\n        function showPos(position){ \n            latt = position.coords.latitude; \n            long = position.coords.longitude; \n            var lattlong = new google.maps.LatLng(latt, long); \n            var myOptions = { \n                center: lattlong, \n                zoom: 15, \n                mapTypeControl: true, \n                navigationControlOptions: {style:google.maps.NavigationControlStyle.SMALL} \n            } \n            var maps = new google.maps.Map(document.getElementById(\"demo\"), myOptions); \n            var markers = \n            new google.maps.Marker({position:lattlong, map:maps, title:\"You are here!\"});","output":"str","x":300,"y":240,"wires":[["bfa10b515fcd92ba"]]},{"id":"51f775011cb90d07","type":"sms-send","z":"e1db7d4ac8ef0596","rccreds":"2609ae5f4f217abd","recipient":"","name":"","x":610,"y":500,"wires":[["cc52b246621b9665"]]},{"id":"cc52b246621b9665","type":"debug","z":"e1db7d4ac8ef0596","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":500,"wires":[]}]